<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Payroll_management.Properties.Settings.funcionario1ConnectionString"
            connectionString="Data Source=DESKTOP-56DDE3C\SQLEXPRESS;Initial Catalog=funcionario1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>